language: node_js
sudo: false
before_script:
  - npm install web-component-tester
  - npm install bower
  - 'export PATH=$PWD/node_modules/.bin:$PATH'
  - bower install
env:
  global:
    - secure: ZA/FONVSZg6udTG20bfeMuF5JIunkcGyBw72+xFyEjW1f1FCW9WxJ76JnR/Pk3fWUm+iZ6xPt17gONHcZpX80lRSIY3Hf5ZB4Cj8E8SHG9XMjnGAuIjIs1D8Re+78H0c+u5MORBv2bVIfijYWaTedsCGTTwPht+QTrWUPWLbn7c=
    - secure: pzI/uo3xJiJ2NJZ6rfWvj3QCYf/eBVAHDNS4JUv3e46uAtJWWjzKJaS9SwkwL61LrwJTbRFrvWbPq7oPseB0qE9wJwl10NhT23dt524k39OxRUxn6HSdre5CwrUnUvTEX7eIeAdlqqXnJt6GB8sJk+TZk0x+wrJ4Y7oFqA9+J9E=
node_js: 4
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
script:
  - xvfb-run wct
  - "if [ \"${TRAVIS_PULL_REQUEST}\" = \"false\" ]; then wct -s 'default'; fi"
